{{#if (gte this.forge.sel 0)}}
  {{#with this.selectedFrame as |frame|}}
    <div style="background:var(--bg0);border:1px solid var(--brd);border-radius:var(--r);padding:8px;margin-bottom:8px">
      <div style="font-family:var(--mono);font-size:11px;font-weight:700;color:var(--acc);margin-bottom:4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">{{frame.name}}</div>
      <div style="font-family:var(--mono);font-size:10px;color:var(--txt2);line-height:1.8">x:{{frame.x}} y:{{frame.y}}<br>w:{{frame.w}} h:{{frame.h}}</div>
    </div>
    <div class="f"><label>Nombre</label><input type="text" value={{frame.name}} {{on "input" (fn this.editName frame)}}/></div>
    <div class="r2">
      <div class="f"><label>X</label><input type="number" value={{frame.x}} {{on "input" (fn this.editProp frame "x")}}/></div>
      <div class="f"><label>Y</label><input type="number" value={{frame.y}} {{on "input" (fn this.editProp frame "y")}}/></div>
    </div>
    <div class="r2">
      <div class="f"><label>W</label><input type="number" value={{frame.w}} {{on "input" (fn this.editProp frame "w")}}/></div>
      <div class="f"><label>H</label><input type="number" value={{frame.h}} {{on "input" (fn this.editProp frame "h")}}/></div>
    </div>
    <button class="btn r" type="button" {{on "click" (fn this.forge.delFrame this.forge.sel)}} style="width:100%;justify-content:center;margin-top:4px;font-size:10px">✕ Eliminar</button>
    <p style="font-size:9px;color:var(--txt3);text-align:center;margin-top:5px">↑↓←→ mover · Shift+flechas redimensionar</p>
  {{/with}}
{{/if}}
